#ActueleTemp{
    text-align: center;
    background: aquamarine;
    font-weight: bold;
}
#ActueleTemp > p>img{
    width: 100px;
    height: 100px;
}

#ActueleTemp {
    display:flex;
}

#ActueleTemp > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
