#ActueleTemp{
<<<<<<< Updated upstream
    text-align: center;
=======
    display:flex;
>>>>>>> Stashed changes
    font-weight: bold;
}
<<<<<<< Updated upstream
#ActueleTemp > p>img{
    width: 100px;
    height: 100px;
}
=======

#ActueleTemp > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
>>>>>>> Stashed changes
