:root {
    --primary-bg: #ECE4B7;
    --secondary-bg: #EDEAD0;
    --header-bg: #34623F;
    --button-bg: #AC5A3F;
    --text-color: black;
    --text-light: #FFF;
    --text-secondary: #EDEAD0;
    --shadow-color: rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}
