#Weather{
    padding: 1rem 1rem;
    font-weight: bold;
    
}

#Weather > .container table {
    border-radius: 10px;
    table-layout: fixed;
}

#Weather > .container td.cel,
#Weather > .container td.beschrijving > img {
    width: 9rem;
    height: 9rem;
    border-radius: 10px;
}

#Weather > .container th,
#Weather > .container td {
    padding: 3px 5px;
    text-align: center;
    width: 7.5rem; 
}

#Weather > .container th {
    background-color: var(--header-bg);
    color: var(--text-light);
    border-radius: 10px;
    
}

#Weather > .container td.cel,
#Weather > .container td.beschrijving {
    background-color: var(--header-bg);
    color: var(--text-light);
    border-radius: 10px;
    
}

#Weather > .container td.beschrijving {
    font-weight: bold;
    
}
