#ActueleTemp{
    display:flex;
    font-weight: bold;
}

#ActueleTemp > div {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ActueleTempText{
    text-align: left;
}